#Environment variables
.env
.env.*

#python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Streamlit
.streamlit/

# Packaging
build/
dist/
*.egg-info/

#Docker
docker-compose.override.yml
*.log

# VS Code
.vscode/

# General
*.swp
*.swo

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

*.log
*.tmp
*.cache


# Docker DB data
postgres_data/

# Database exports
*.sql
*.dump
*.backup

# Logs
*.log

#Node
node_modules/
dist/
build/
npm-debug.log*
yarn-error.log*